<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand logo" routerLink="">star trek club</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="member-list"><span class="header-links">Current Members</span></a></li>
      <li><a routerLink="about"><span class="header-links">About</span></a></li>
      <li><a routerLink="admin"><span class="header-links">Admin</span></a></li>
    </ul>
  </div>
</nav>
