<h1>About</h1>

<p>Star Trek Club was formed in 2014 by a group of pals that love Star Trek. Mostly it's Brendan's fault. His wife is sick of him nagging her to watch episodes of TNG for the millionth time or insisting that Deep Space Nine invented the serialized television drama or complaining about he "just has to get through" Voyager. The gang gets together and watches an episode or two based on a theme (such as manufactured intellegence, war crimes or cowboy episodes!) If we feel like it we cook Star Trek related foods and drink Star Trek related drinks. Maybe if an episode pairing is particularly poignant we even talk about it for a little while.</p>

<p>You get the point. If you want to come watch Star Trek with us just send an email to brendangrubb@gmail.com</p>
