img {
  max-width: 400px;
  border: 1px solid black;
}

.member {
  border: 1px solid black;
  border-radius: 20px;
  background-color: #FDB523;
}

.member-data {
  font-size: 1.2em;

}

.member-bio {
  font-size: 1.5em;
}

.member-name {
  font-size: 3em;
}

.opacity {
  opacity: .75;
  font-weight: bold;
}

.title {
  margin-bottom: 20px;
}
