<h1 class="center title">Current Members of Star Trek Club</h1>

<div class="superfan center">
  <select (change)="onChange($event.target.value)">
    <option value="allMembers" selected="selected">All Members of Star Trek Club</option>
    <option value="superfans">STC Members who have seen the entire franchise!</option>
  </select>
</div>
<br>
<div *ngFor="let member of members | async | superfan:superfanFilter">
  <div class="col-sm-4">
    <div class="panel-body member">
      <div class="center">
        <img (click)="goToDetailPage(member)" class="img-rounded" src="{{member.image}}" alt="Trek Club Member: {{member.memberName}}">
      </div>
      <h2 class="member-name center">{{member.memberName}}</h2>
      <div *ngIf="currentRoute === '/admin'">
      <hr>
      <app-member-edit [selectedMember]="member"></app-member-edit>
    </div>
    </div>
    <br>

  </div>
</div>
