<div *ngFor="let member of members | async">
  <div class="col-sm-10">
    <div class="panel-body member">
      <div class="col-sm-6">
        <img class="img-rounded" src="{{member.image}}" alt="Trek Club Member: {{member.memberName}}">
        <h2 class="member-name">{{member.memberName}}</h2>
      </div>
      <div class="col-sm-6">
        <p class="member-data">Favorite Series: {{member.favoriteSeries}}</p>
        <p class="member-data">Seen Entire Franchise: {{member.watchedAll}}</p>
        <p class="member-bio">Bio: {{member.bio}}</p>
      </div>
    </div>
    <br>
  </div>
</div>
